body {
	background-color: #000000;
	margin-top: 25px;
}

.nav {
  background-color: #000000; 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
}

.nav a {
	color: #5075E2;
	text-decoration: none;
}

.nav a:hover {
	color: #823F97;
}

h1 {
  background: -webkit-linear-gradient(52deg, rgba(0,179,255,1) 34%, rgba(89,36,208,1) 51%, rgba(255,87,0,1) 65%);
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
  font-size: 75px;
  text-align: center;
}

h2 {
  font-family: cursive;
  font-size: 50px;
  text-align: center;
  color: #4F5AD8;
}

h3 {
  color: #79399F;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  text-align: center;
  margin-bottom: 40px;
}

h3 a {
  color: #5075E2;
  text-decoration: none;
}

h3 a:hover {
  color: #A64872;
}

h4 {
  margin-left: 75px;
  margin-top: 30px;
  font-family: cursive;
  color: #E25E37;
  font-size: 20px;
}

ul {
  color: #4DB1F8;
  margin-left: 75px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 20px;
  line-height: 25px;
}

p {
  color: #4F94EE;
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  margin-left: 75px;
  margin-right: 75px;
}

p a {
  color: #BD515A;
  text-decoration: none;
}

img {
  display: block;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  width: 40%;
}



