body {
	background-color: #000000;
	margin-top: 25px;
}

.nav {
  background-color: #000000; 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
}

.nav a {
	color: #5075E2;
	text-decoration: none;
}

.nav a:hover {
	color: #823F97;
}

h1 {
  background: -webkit-linear-gradient(52deg, rgba(0,179,255,1) 30%, rgba(89,36,208,1) 48%, rgba(255,87,0,1) 68%);
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
  font-size: 75px;
  text-align: center;
}

ul {
  color: #4DB1F8;
  margin-left: 75px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 20px;
  line-height: 25px;
}


